<h1>Showing article details</h1>

<p><stong>Title: </stong><%= @article.title %></h1>

<p><stong>Description: </stong><%= @article.description %></h1>
<br>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure you want to Delete?" } %> |
<%= link_to 'Return to Articles List', articles_path %>